<section class="section presentation-container">
    <!-- <img class="lamp" src="../../../assets/png/lamp.png" alt="lamp"> -->
    <div class="header">
        <h1>FullStack Developer</h1>
        <h2>Code, coffee, sleep, repeat</h2>
    </div>
    <div class="content">
        <div class="presentation-content-left">
            <p class="presentation-text">Hi, my name is Terry. I'm a french developer based in Lyon and I want to share my passion for developing.</p>
            <br>
            <p class="presentation-text">Hi, my name is Terry. I'm a french developer based in Lyon and I want to share my passion for developing.</p>
        </div>
        <div class="presentation-content-right">
            <img class="programming-svg" src="../../assets/svg/programming.svg" alt="programming">
        </div>
    </div>
</section>
<section class="section competences-container">
    <h1>Skills</h1>
    <img>
    <div class="content">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
</section>